<p id="notice"><%= notice %></p>
<p> laudeine </p>

<p>
  <strong>Nome:</strong>  <br>
  <h1> <%= @breed.nome %> </h1>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
